//COLORS
$color-primary: #26c0ab;
$color-dark-cyan: #00494d;
$color-dark-grayish-cyan-1: #5e7a7d;
$color-dark-grayish-cyan-2: #7f9c9f;
$color-light-grayish-cyan-1: #c5e4e7;
$color-light-grayish-cyan-2: #f4fafa;
$color-white: #ffffff;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px
$bp-tablet: 62em; // 992px
